h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

img {
  display: inline-block;
  max-width: 100%;
}

.body {
  overflow: hidden;
  background-color: #172023;
  background-image: url('../images/background.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.columns {
  min-height: 100vh;
}

.column {
  height: 100vh;
  padding: 60px;
}

.news {
  display: inline;
  color: #f5e74b;
  text-transform: none;
}

.events {
  display: inline;
  color: #9fc24c;
  text-transform: none;
}

.div-block {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 99999999;
  width: 100vw;
  height: 160px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#121c1f), to(transparent));
  background-image: linear-gradient(0deg, #121c1f, transparent);
}

.blurb {
  display: inline-block;
  width: 80%;
  padding-left: 40px;
}

.icon {
  position: static;
  height: 50px;
  margin-right: 20px;
  float: left;
  opacity: 0.5;
}

.column-title {
  display: block;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 50px;
  text-transform: none;
}

.item {
  margin-bottom: 40px;
}

.item-visual {
  width: 20%;
  margin-top: 5px;
  float: left;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.77);
}

.month {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.25);
  font-size: 26px;
  line-height: 52px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.day {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.85);
  color: #9fc24c;
  font-size: 50px;
  line-height: 96px;
  font-weight: 700;
  text-align: center;
}

.title {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.summary {
  margin-top: 10px;
  font-weight: 400;
}

.location {
  font-size: 18px;
  line-height: 22px;
}

.date {
  font-size: 18px;
  line-height: 26px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.embed {
  color: transparent;
}

.twit {
  display: inline;
  color: #267aba;
}

.insta {
  display: inline;
  color: #8a6996;
}

.tw {
  color: #9fc24c;
}

